nav {
  list-style: none;
  background-color: black;

  & ul {
    display: flex;
    justify-content: space-between;
  }

  & ul li {
    padding: 10px;
  }

  & ul li a {
    color: white;
    text-decoration: none;
  }
}
